<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NomNom - Home</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header>
        <%- include('../views/partials/header'); %>  
    </header>
    <h1>Dashboard</h1>
    <section>
        <% postFood.forEach(el => { %>
            <div class = "postDisplay" data-id='<%=el._id%>'>
                <span class="postsContainer">
                    <%= el.food %><BR>
                    <%= el.date %><BR>
                    <%= el.calories %><BR>
                    <%= el.carbs %><BR>
                    <%= el.protein %><BR>
                <%= el.fat %> </span><br>

                <span class ='del'> Delete </span>
             </div>
        <% }) %>
        
     
        </div>
    </section>
    
    <a href="/post/createPost">Add a post</a>
  

   

    <a href="/logout">Logout</a>

    <script src="js/main.js"></script>
</body>
</html>